$old: "Old Standard TT", serif;
$raleway: "Raleway", sans-serif;

$regular: 400;
$bold: 700;

$xxxlarge: 50px;
$xxlarge: 30px;
$xlarge: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$xsmall: 12px;
